body {
  background-image: url("img/backgrounds/381504.jpg");
  background-size: 100% auto;
  background-repeat: no-repeat;
  background-attachment: fixed;


}

#main {
  margin: 0;
  background-color: rgba(0, 0, 0, 0.5);
}

#header {
  text-align: center;

}
.col {

}

/*This is to fix the "row is bigger than it's fluid parent container" issue i was having. Limits rows to 99% of the viewport.*/
.row {
  max-width: 99vw;
}

.foodMenu {
  padding: 0;

}

.foodTitle {
  background-color: #F8C300;
  margin: 5vh 0;
  padding: 10px 0;
}

.foodMenu p {
  margin: 0;
}
.foodMenu li {
  margin: 8px 0 5px 0;
  background-color: #CCC;
  border-radius: 2px;
  padding-left: 5px;
}

.foodMenu ol {
  display: block;
  text-align: left;
  margin: 0 15px;
}

#header img {
  margin: 25px 0;
}

#content {

}

.container-fluid {
  padding: 0;
}

#menu {
  text-align: center;
  width: 100%;
  background-color: #F8C300;
  margin-bottom: 5vh;
}

.menuItem {
  font-size: 1.2em;
}

.menuItem:hover {
  background-color: #c09300;
  transition: 350ms;
  cursor: pointer;
}

.menuItem a {
  text-decoration: none;
  color: black;
  display: block;
  margin: 1vh 0;
}

#title {
  border-top: 2px solid #E31E24;
  background-color: #E31E24;
  color: white;
  padding: 15px 0;
  margin: 0;
}

#mainTable {
  text-align: center;
  margin: 0;


}

.sidebar {
  text-align: right;
}

#mainTable .row {


}

#footer
{
  background-color: rgba(255, 255, 255, 0.5);
  color: black;
  margin-top: 2vh;
  text-align: center;
  border-top: 2px solid rgba(0,0,0,0.5);
}
